body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(391237c61ff55e4df4d538ab6e230f88.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

header {
    background-color: #4c4d4e;
    color: white;
    padding: 1em;
}

main {
    margin: 2em auto;
    width: 90%;
    max-width: 800px;
}

.button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #218838;
}

.car-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.car {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    width: calc(33.333% - 2em);
    box-sizing: border-box;
    background-color: grey;
}

.car img {
    max-width: 100%;
    border-radius: 5px;
}
.reg {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h1reg {
    text-align: center;
    color: #333;
}

.preg {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.freg {
    display: flex;
    flex-direction: column;
}

.lreg {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.ireg {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.ireg:focus {
    border-color: #007BFF;
    outline: none;
}

.regbutton {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.regbutton:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
