.car-details {
    margin: 2em auto;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.car-image {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.car-title {
    font-size: 2em;
    margin-top: 1em;
}

.car-price {
    font-size: 1.2em;
    color: #333;
    margin-top: 0.5em;
}

.car-specs {
    margin-top: 2em;
    text-align: left;
    color: #555;
}

.car-specs p {
    font-size: 1.1em;
    margin: 10px 0;
}

.car-specs strong {
    font-weight: bold;
}

.button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.5em 1em;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #218838;
}